.projects-page {
  height: 100vh;
}

.projects-page h1,
.projects-page p {
  margin: 0;
}

.projects-page-header {
  height: 65px;
  border-bottom: 1px solid #f4f6f8;
  display: flex;
  justify-content: space-between;
  padding-left: 47px;
  padding-right: 30px;
}

.projects-page-header-left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.projects-page-header-left img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #ced2d8;
}

.projects-page-header-left div p:first-of-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #172134;
}

.projects-page-header-left div p:nth-of-type(2) {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: #848f9d;
}

.projects-page-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.projects-page-header-right img {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.projects-page-header-right span {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #848f9d;
  border: 1px solid rgba(23, 33, 52, 0.2);
  padding-top: 1px;
}

.projects-page-body {
  padding: 40px 100px;
}

.projects-page-title h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

.projects-page-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #848f9d;
}

.projects-page-table-wrapper {
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f4f6f8;
  overflow: hidden;
}

.projects-page table {
  width: 100%;
}

.projects-page table tbody tr:hover {
  background-color: #f4f6f8;
  cursor: pointer;
}

.projects-page table tbody tr td:first-of-type {
  font-weight: 700;
}

.projects-page table tbody td:not(:first-of-type) {
  font-weight: 300;
  color: #323136;
}

.projects-page table .badge {
  font-size: 14px;
}

.projects-table-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 5px;
  align-items: center;
}

.projects-table-pagination label {
  font-size: 14px;
  font-weight: 400;
}

.projects-table-pagination select {
  margin-right: 15px;
}

.projects-table-pagination button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f4f6f8;
  color: #848f9d;
}

.projects-table-pagination span {
  font-size: 14px;
}
