.projects-page-title h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

.projects-page-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #848f9d;
}

.projects-page-table-wrapper {
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f4f6f8;
  overflow: hidden;
}

.projects-page table {
  width: 100%;
}

.projects-page table tbody tr:hover {
  background-color: #f4f6f8;
  cursor: pointer;
}

.projects-page table tbody tr td:first-of-type {
  font-weight: 700;
}

.projects-page table tbody td:not(:first-of-type) {
  font-weight: 300;
  color: #323136;
}

.projects-page table .badge {
  font-size: 14px;
}

.projects-table-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 5px;
  align-items: center;
}

.projects-table-pagination label {
  font-size: 14px;
  font-weight: 400;
}

.projects-table-pagination select {
  margin-right: 15px;
}

.projects-table-pagination button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f4f6f8;
  color: #848f9d;
}

.projects-table-pagination span {
  font-size: 14px;
}
