.project-page {
  padding: 13px 47px;
}

.project-page-previous {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #172134;
  gap: 10px;
  cursor: pointer;
}

.project-page-previous img {
  height: 40px;
  width: 40px;
}

.project-page h1,
.project-page p {
  margin: 0;
}

.project-page-data {
  margin-left: 50px;
  margin-top: 40px;
}

.project-page-data h1 {
  font-size: 60px;
  font-weight: 500;
  color: #172134;
}

.project-page-data-details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  font-size: 20px;
}

.project-page-data-details > span {
  color: #848f9d;
}

.project-page-data-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
  border: 2px solid rgb(56, 56, 56);
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(56, 56, 56);
}

.project-page-data-card p:last-of-type {
  color: #cd202b;
}
