.project-page h1 {
  font-size: 60px;
  font-weight: 500;
  color: #172134;
}

.project-page-details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  font-size: 20px;
}

.project-page-details > span {
  color: #848f9d;
}

.project-page-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
  border: 2px solid rgb(56, 56, 56);
  width: fit-content;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(56, 56, 56);
}

.project-page-card p:last-of-type {
  color: #cd202b;
}
